body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(213, 212, 212);

}
#landing-page-container{
    width: 100%;
    height: 100%;
    
}
#top-half-landing{
    width: 120%;
    left: -100px;
    top: -130px;
    height: 450px;
    background: rgb(72, 72, 66);
 
    position: absolute;
    transform: rotate(-10deg);
    transition: transform 1s linear 1s, 
            width 1s linear 1s,
            height 1s linear 1s,
            top 1s linear 1s,
            left 1s linear 1s;
    
    

}

#bottom-half-landing{
    width: 100%;
    height: 50%;
    position: fixed;
    top: 56%;
    font-weight: 300;

}
#name-label{
    position: absolute;
    bottom: -3.8vw;
    left:12%;
    color: rgb(72, 72, 66);
    font-size: 4vw;
   
    /* transform: skew(10deg, 1vw); */
    width: 30%;
    transition: left 1s;
    z-index: 1;
}
.name-label-hidden{
    /* Hide name label when click on one of the tabs */
    left: -200% !important;
    z-index: 1;
    transition: left 1s;

}
.right-header-half{
    /* Whichever label is clicked, style the right grey */
    color: rgb(72, 72, 66);
    z-index: 1;
}

#position-label{
    position: absolute;
    bottom: -1vw;
    left:40%;
    color: rgb(213, 212, 212);
    font-size: 4vw;
   
    /* transform: skew(10deg, 1vw); */
    width: 50%;
}
.position-label-hidden{
    left: 400% !important;
    transition: left 1s;

}
/* INFORMATION TABS */
.info-rect{
    height: 1px;
    background: rgb(72, 72, 66);
    position: absolute;
}
.info-label{
    color: rgb(72, 72, 66);;
    position: absolute;
    font-size: 25px;
}
.info-label:hover{
    font-size: 30px;
}
.rect-folded{
    width: 1% !important;
    transition: width 1s;
}
.label-folded{
    right: 2% !important;
    transition: right 1s;
}
/* When click the label, shrink the font */
.label-smaller{
    font-size: 15px;
    transition: font-size 1s;
}
.rect-hidden{
    /* Add this to the label rectangle that was clicked */
    width:0 !important;
    transition: width 1s;
}
.label-hidden{
    /* First hide the label to the right */
    transition: right 1s linear 1s;
    right: -300px !important;
}

/* Hide the headers then transition them in when clicked */
.hidden-header{
    color: white;
    font-size: 25px;
    position: fixed;
    top: 15px;
    left: -200px;
    /* Delay transition 2s */
    transition: left 1s linear 0.1s;
    
    
}
.label-header{
    color: white;
    position: fixed;
    /* Once label hidden delay it to transition from left*/
    left: 2% !important;
    top: 20px;
    transition: left 1s;
    z-index: 1;
    

}
 /* Change the page background */

.top-half-landing-folded{
    height: 65px !important;
    width: 65px !important;
    transform: rotate(0deg) !important;
    top: 0 !important;
    left: 0 !important;
    transition: transform 1s linear 1s, 
            width 1s linear 1s,
            height 1s linear 1s,
            top 1s linear 1s,
            left 1s linear 1s;
}

#about-rect{
    width: 10%;
    top: 0;
    right: 0px;
    transition: width 1s;
}
#about-label{
    top: -4%;
    right: 11%;
    transition: right 1s, font-size 1s;

}
#courses-rect{
    width: 12%;
    top: 12%;
    right: 0px;
    transition: width 1s;
}
#courses-label{
    top: 8%;
    right: 13%;
    transition: right 1s,font-size 1s;

}
#tech-rect{
    width: 14%;
    top: 24%;
    right: 0px;
    transition: width 1s;
}
#tech-label{
    top: 20%;
    right: 15%;
    transition: right 1s,font-size 1s;

}
#learning-rect{
    width: 22%;
    top: 36%;
    right: 0px;
    transition: width 1s;
}
#learning-label{
    top:32%;
    right: 23%;
    transition: right 1s,font-size 1s;

}
#projects-rect{
    width: 24%;
    top: 48%;
    right: 0px;
    transition: width 1s;
}
#projects-label{
    top: 44%;
    right: 25%;
    transition: right 1s,font-size 1s;

}
